html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
}

body{
 cursor: url('https://img.icons8.com/?size=30&id=eqvTYaCnYmRN&format=png&color=000000'), auto;
}

.buttons-div{
  position: absolute;
  width: 80px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-left: 15px;
  align-items: center;
}

.buttons-div button{
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: black 2px solid;
  
}

.buttons-div button:hover{
  background-color: rgb(255, 210, 9);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  cursor: url('https://img.icons8.com/?size=30&id=9T98YtkS9575&format=png&color=000000'), auto;
}

.buttons-div button img{
  padding: 5px;
  width: 35px;
  height: 35px;
}



.background-div{
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.35) 1px, transparent 0);
  background-size: 20px 20px;
  
}

.add-cursor{
  cursor: grabbing;
  background-color: aliceblue;
}

.normal-cursor{
  cursor: url('https://img.icons8.com/?size=30&id=eqvTYaCnYmRN&format=png&color=000000'), auto;
}

h1{
  font-size: 8vw;
  max-width: 55vw;
  user-select: none;
  pointer-events: none;
  z-index: 0;
  color: #0936fe65;
}

textarea{
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Google Sans Code", monospace;
  border-radius: 20px;
  border: none;
  padding: 10px;
  resize: vertical;
}

textarea::placeholder {
  font-family: "Google Sans Code", monospace;
  font-size: 20px;
  color: rgb(189, 189, 189);
  font-weight: 300;

}

textarea:focus{
  outline: none;
}

textarea:hover {
  background-color: aliceblue;
  cursor: url('https://img.icons8.com/?size=30&id=RK3FWZOiykWw&format=png&color=000000'), auto;
}

.tdate label, .tevent label{
  display: block;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  padding: 5px 20px;
  margin-bottom: 10px;
  
}

.tdate input, .tevent input{
  font-size: 16px;
  border: none;
  font-family: 'Google Sans Code', monospace;
}



.app-div{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.task{
  position: absolute;
  width: 200px;
  padding: 20px;
  z-index: 20;
  background-color: rebeccapurple;
  
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  
  border-radius: 20px;
  width: 250px;

  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.task strong{
  width: 100%;
}

.task form{
  width: 100%;
}


.drag-div{
 
  height: 20px;
  border-radius: 5px;
  background-color: rgb(255, 210, 9);
  padding: 5px;
  margin-bottom: 5px;
  cursor: move;
  cursor: url('https://img.icons8.com/?size=30&id=bd2gBr4pUwWh&format=png&color=000000'), auto;
}

.resizable-box{
  position: absolute; 
  background-color: rgba(255, 217, 4, 0.267);
  border-radius: 35px;

}

.tback textarea{
  
  background-color: rgba(255, 255, 255, 0);
  font-size: 40px;
  margin: 10px 20px;
  font-weight: 400;
  resize: none;
  
}

.tback textarea::placeholder{
  
  background-color: rgba(255, 255, 255, 0);
  font-size: 40px;
  margin: 10px 20px;
  font-weight: 400;
  resize: none;
  color: rgb(138, 138, 138);
  
}


.drg-back{
  position: absolute;
  z-index: 10;
}

.back-drag-div{
  width: 20px;
}

.drg-task{
  position: absolute;
  z-index: 30;
}

.drg-emoji{
  position: absolute;
  z-index: 50;
  font-size: 70px;
  line-height: 1;
  cursor: move;
}

.react-draggable{
  width: fit-content;
}

.task button{
  background-color: rgb(241, 241, 241);
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-family: 'Google Sans Code', monospace;
  font-size: 15px;
  font-weight: 400;
  cursor: url('https://img.icons8.com/?size=40&id=kn39Hk1qRUXb&format=png&color=000000'), auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.task button img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  display: block;
}


