html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*body{
  cursor: url('https://img.icons8.com/?size=60&id=F99UOVZKSc4Q&format=png&color=000000'), auto;
}*/

.buttons-div{
  position: absolute;
  background-color: rgba(36, 143, 143, 0.986);
  width: 5vw;
  height: 5vh;
  z-index: 15;
}
.background-div{
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.35) 1px, transparent 0);
  background-size: 20px 20px;
}

h1{
  font-size: 8vw;
  max-width: 55vw;
  user-select: none;
  pointer-events: none;
  z-index: 0;
  color: rgb(187, 255, 196);
}

.app-div{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.task{
  position: absolute;
  width: 200px;
  padding: 20px;
  z-index: 20;
  background-color: rebeccapurple;
}

.drag-div{
  width: 100px;
  background-color: blue;
}